<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgz.business.mapper.BusinessMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cgz.business.model.Business">
                    <id     column="id" property="id"/>
                    <result column="name" property="name"/>
                    <result column="age" property="age"/>
                    <result column="phone" property="phone"/>
                    <result column="pinyin" property="pinyin"/>
                    <result column="advanceNum" property="advanceNum"/>
                    <result column="receivedNum" property="receivedNum"/>
                    <result column="tag" property="tag"/>
                    <result column="isAcquisition" property="isAcquisition"/>
                    <result column="imgUrl" property="imgUrl"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                s.id,
                s.name,
                s.age,
                s.phone,
                s.pinyin,
                s.advanceNum,
                s.receivedNum,
                s.tag,
                s.isAcquisition,
                s.imgUrl
        </sql>

    <select id="queryPage" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from business s
        <where>
            1 = 1
                    <if test="et.name != null and ''!= et.name">
                        and s.name = #{et.name}
                    </if>
                    <if test="et.age != null and ''!= et.age">
                        and s.age = #{et.age}
                    </if>
                    <if test="et.phone != null and ''!= et.phone">
                        and s.phone = #{et.phone}
                    </if>
                    <if test="et.pinyin != null and ''!= et.pinyin">
                        and s.pinyin = #{et.pinyin}
                    </if>
                    <if test="et.advanceNum != null and ''!= et.advanceNum">
                        and s.advanceNum = #{et.advanceNum}
                    </if>
                    <if test="et.receivedNum != null and ''!= et.receivedNum">
                        and s.receivedNum = #{et.receivedNum}
                    </if>
                    <if test="et.tag != null and ''!= et.tag">
                        and s.tag = #{et.tag}
                    </if>
                    <if test="et.isAcquisition != null and ''!= et.isAcquisition">
                        and s.isAcquisition = #{et.isAcquisition}
                    </if>
                    <if test="et.imgUrl != null and ''!= et.imgUrl">
                        and s.imgUrl = #{et.imgUrl}
                    </if>
        </where>
        order by s.pinyin asc
    </select>

    <select id="selectGetAll" resultType="com.cgz.business.model.Business" >
        select
        <include refid="Base_Column_List" />
        from business s
        <where>
            1 = 1
                    <if test="et.name != null and ''!= et.name">
                        and s.name = #{et.name}
                    </if>
                    <if test="et.age != null and ''!= et.age">
                        and s.age = #{et.age}
                    </if>
                    <if test="et.phone != null and ''!= et.phone">
                        and s.phone = #{et.phone}
                    </if>
                    <if test="et.pinyin != null and ''!= et.pinyin">
                        and s.pinyin = #{et.pinyin}
                    </if>
                    <if test="et.advanceNum != null and ''!= et.advanceNum">
                        and s.advanceNum = #{et.advanceNum}
                    </if>
                    <if test="et.receivedNum != null and ''!= et.receivedNum">
                        and s.receivedNum = #{et.receivedNum}
                    </if>
                    <if test="et.tag != null and ''!= et.tag">
                        and s.tag = #{et.tag}
                    </if>
                    <if test="et.isAcquisition != null and ''!= et.isAcquisition">
                        and s.isAcquisition = #{et.isAcquisition}
                    </if>
                    <if test="et.imgUrl != null and ''!= et.imgUrl">
                        and s.imgUrl = #{et.imgUrl}
                    </if>
        </where>
    </select>
</mapper>
