<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgz.user.mapper.UserMapper">

    <select id="selectList" resultType="com.cgz.config.model.Config">
       select * from config
    </select>

    <update id="update">
          update
              config
          set
          	countDownFinishTime=#{countDownFinishTime}
          where
          id=#{id}
    </update>
</mapper>
